<h1><%= @user.full_name %></h1>

<h2>Public repositories</h2>

<ul>
<% @user.github.repositories.each do |repo| %>
  <li><%= link_to repo.name, repository_path(:name => repo.name) %></li>
<% end %>
<% @user.github.organization_repositories.each do |repo| %>
  <li><%= link_to repo.name, repository_path(:name => repo.name) %></li>
<% end %>
</ul>